@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* colors */
:root {
  /* primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /*  (graphic design text) */
  --dark-blue: hsl(198, 62%, 26%); /* (photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */

  /* neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
h1,
h2,
h3,
.cta a,
.gridLink {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero {
  height: 100vh;
  max-height: 800px;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  grid-column: 1 / span 2;
  text-align: center;
}
.hero h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 56px;
  letter-spacing: 9px;
  margin-top: 75px;
}
.arrow {
  margin-top: 90px;
}
navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
.logo {
  height: 33px;
}
.navItem {
  display: inline-block;
  list-style: none;
  margin: 15px 25px;
}
.navItem a {
  color: var(--white);
  text-decoration: none;
}
.cta {
  background-color: var(--white);
  border-radius: 30px;
  padding: 15px 30px;
}
.cta a {
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  font-weight: 700;
}
.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 120px 0 145px;
}
.gridItem h2 {
  color: var(--very-dark-desaturated-blue);
  font-size: 38px;
  padding-right: 15px;
}
.gridItem p {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  margin: 40px 0;
}
.gridLink {
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  position: relative;
  padding: 0 8px;
}
.gridLink:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background: var(--yellow);
  mix-blend-mode: normal;
  opacity: 0.25;
  border-radius: 28px;
  transition: opacity ease-out 0.2s;
}
.gridLink.red:before {
  background: var(--soft-red);
}
.gridLink:hover:before {
  opacity: 1;
}
.gridBG {
  position: relative;
  text-align: center;
}
.gridBG .wrapper {
  position: absolute;
  bottom: 0;
  padding: 65px 170px;
}
.wrapper h2 {
  margin-bottom: 26px;
}
.wrapper.green {
  color: var(--dark-desaturated-cyan);
}
.wrapper.blue {
  color: var(--dark-blue);
}
.wrapper p {
  opacity: 0.7;
  line-height: 1.5;
}
.testimonials {
  grid-column: 1 / span 2;
  text-align: center;
  margin: 150px;
}
.testimonialsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials h2 {
  color: var(--grayish-blue);
  font-size: 18px;
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.testimonialItem {
  width: calc((100% - 60px) / 3);
}
.testimonialItem img {
  border-radius: 50%;
  width: 75px;
}
.testimonialItem p {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  margin: 60px 0;
}
.testimonialItem .title {
  display: inline-block;
  color: var(--grayish-blue);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}
.gallery {
  grid-column: 1 / span 2;
  display: flex;
  max-width: 1440px;
}
.gallery img {
  width: 25%;
  height: auto;
}
.footer {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #90d4c6;
  padding: 75px 0;
}
.footer svg {
  height: 33px;
}
.footer navbar {
  padding-top: 40px;
  padding-bottom: 80px;
}
.footer a {
  color: var(--dark-moderate-cyan);
}
